@use './button.scss' as button;
@use './form-table.scss';
@use '../../styles.scss' as global;
@use './option.scss' as option;

form-table {
    @extend %form-table;
}

form-link {
    color: global.$main-color;
    text-align: center;
}

app-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

app-cadastros-header {
    position: sticky;
    top: 0;
    z-index: 100;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(24rem, calc(100vw - 2em)), 1fr));
    gap: 1em;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 1em;
}