@use './button.scss' as button;
@use './form-table.scss';
@use '../../styles.scss' as global;

form-table {
    @extend %form-table;
}

form-link {
    color: global.$green-color;
    text-align: center;
}

app-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

app-cadastros-header {
    position: sticky;
    top: 0;
    z-index: 100;
}