@use '../../styles.scss' as global;

%option {
    position: relative;
    user-select: none;
    background: #eee;
    padding: .3em .5em;
    border-radius: .3em;
    font-size: .9em;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .35em;
    transition: .1s ease-in-out;

    &:not(.select) {
        cursor: pointer;
        color: global.$green-color;
        font-weight: 600;

        &:hover {
            background: #ddd;
        }
    }

    * {
        pointer-events: none;
    }

    .option-icon {
        display: flex;
        height: 1em;
        width: 1em;

        .ionicon {
            position: absolute;
            transition: .1s ease-in-out opacity;

            &.checked {
                opacity: 0;
                scale: .5;
                transition:
                    .1s ease-in-out opacity,
                    .1s ease-in-out scale;
            }

            &:not(.checked) {
                opacity: 1;
                scale: .85;
            }
        }
    }
}

input:checked~%option {
    background: global.$green-color;
    color: #eee;

    &:not(.multiple) {
        pointer-events: none;
    }

    .ionicon.checked {
        opacity: 1;
        scale: 1.1;
    }

    .ionicon:not(.checked) {
        opacity: 0;
    }
}