<div class="row">
    <loading-content [loaded]="loadedUnread" loadingMsg="Carregando Solicitações...">
        @if (solicUnreadUsers.length) {
        <solics-list (updateLimits)="onUpdateLimits($event)" [pagesSize]="pagesSize" [pageIndex]="index" [refresh]="refreshSolics" [admin]="user"
            [size]="sizeUnread" [solics]="solicUnreadUsers"></solics-list>
        } @else {
        <div class="loader no-solics">
            <strong>Não há solicitações pendentes!</strong>
        </div>
        }
    </loading-content>
    <loading-content [loaded]="loaded" loadingMsg="Carregando Solicitações...">
        @if (solicUsers.length) {
        <solics-list titleMsg="Solicitações Concluídas" (updateLimits)="onUpdateLimits($event)" [pagesSize]="pagesSize" [pageIndex]="index" [refresh]="refreshSolics" [admin]="user"
            [size]="size" [solics]="solicUsers" [onlyRead]="!0"></solics-list>
        } @else {
        <div class="loader no-solics">
            <strong>Não há solicitações concluídas!</strong>
        </div>
        }
    </loading-content>
</div>