<div class="row">
    <loading-content [loaded]="loadedUnread" loadingMsg="Carregando Solicitações...">
        @if (solicUnreadUsers.length) {
        <solics-list (updateLimits)="onUpdateLimits($event, 'unread')" [pagesSize]="pagesSize"
            [pageIndex]="indexSolicUnread" [refresh]="refreshSolics" [admin]="user" [size]="sizeUnread"
            [solics]="solicUnreadUsers"></solics-list>
        } @else {
        <div class="loader no-solics">
            <strong>Não há solicitações pendentes!</strong>
        </div>
        }
    </loading-content>
    <loading-content [loaded]="loaded" loadingMsg="Carregando Solicitações...">
        @if (solicUsers.length) {
        <solics-list titleMsg="Solicitações Concluídas" (updateLimits)="onUpdateLimits($event, 'read')"
            [pagesSize]="pagesSize" [pageIndex]="indexSolic" [refresh]="refreshSolics" [admin]="user" [size]="size"
            [solics]="solicUsers" [onlyRead]="!0"></solics-list>
        } @else {
        <div class="loader no-solics">
            <strong>Não há solicitações concluídas!</strong>
        </div>
        }
    </loading-content>
    <loading-content [loaded]="loadedAdmins" loadingMsg="Carregando Administradores...">
        @if (solicAdmins.length) {
        <users-list (updateLimits)="onUpdateLimits($event, 'admin')" [pagesSize]="pagesSize" [pageIndex]="indexAdmin"
            [refresh]="refreshSolics" [users]="solicAdmins" [size]="sizeAdmin">Lista de Administradores</users-list>
        } @else {
        <div class="loader no-solics">
            <strong>Não há administradores!</strong>
        </div>
        }
    </loading-content>
    <loading-content [loaded]="loadedProfessores" loadingMsg="Carregando Professores...">
        @if (solicProfessores.length) {
        <users-list (updateLimits)="onUpdateLimits($event, 'professor')" [pagesSize]="pagesSize"
            [pageIndex]="indexProfessor" [refresh]="refreshSolics" [users]="solicProfessores"
            [size]="sizeProfessor">Lista de Professores</users-list>
        } @else {
        <div class="loader no-solics">
            <strong>Não há professores!</strong>
        </div>
        }
    </loading-content>
    <loading-content [loaded]="loadedAlunos" loadingMsg="Carregando Alunos...">
        @if (solicAlunos.length) {
        <users-list (updateLimits)="onUpdateLimits($event, 'aluno')" [pagesSize]="pagesSize" [pageIndex]="indexAluno"
            [refresh]="refreshSolics" [users]="solicAlunos" [size]="sizeAluno">Lista de Alunos</users-list>
        } @else {
        <div class="loader no-solics">
            <strong>Não há alunos!</strong>
        </div>
        }
    </loading-content>
</div>