<app-cadastros-header></app-cadastros-header>
<app-main>
    <app-form-cadastro [titlesSwitch]="switchForms">
        <form-table tableName="professor">
            <form-input [activeTitle]="professor.id">Professor1!</form-input>
            <form-input [activeTitle]="professor.id">Professor2!</form-input>
        </form-table>
        <form-table tableName="admin">
            <form-input [activeTitle]="admin.id">Admin1!</form-input>
            <form-input [activeTitle]="admin.id">Admin2!</form-input>
        </form-table>
    </app-form-cadastro>
</app-main>