<app-cadastros-header></app-cadastros-header>
<app-main>
    <app-form [titlesSwitch]="switchForms" [isFreeze]="isFreeze">
        <form-table tableName="professor" [form]="professorForm" [submitText]="professor.submitText"
            [submitEvent]="submit" (freezeForm)="onFreezeForm($event)">
            @if (!user) {
            <form-link link="/login">
                <strong>Já possui uma conta? Faça login!</strong>
            </form-link>
            }
            <form-input [form]="professorForm" controlName="nome_comp">Nome Completo</form-input>
            <form-input [form]="professorForm" controlName="cpf" [readCPF]="true">CPF</form-input>
            <form-input [form]="professorForm" controlName="email" type="email" autocomplete="email">E-mail</form-input>
            <form-input [form]="professorForm" controlName="tel">Celular</form-input>
            <form-input [form]="professorForm" controlName="password" type="password">Senha</form-input>
            <horarios-list [form]="professorForm" controlName="inscricoes"></horarios-list>
        </form-table>
        <form-table tableName="admin" [form]="adminForm" [submitText]="admin.submitText" [submitEvent]="submit"
            (freezeForm)="onFreezeForm($event)">
            @if (!user) {
            <form-link link="/login">
                <strong>Já possui uma conta? Faça login!</strong>
            </form-link>
            }
            <form-input [form]="adminForm" controlName="nome_comp">Nome Completo</form-input>
            <form-input [form]="adminForm" controlName="cpf" [readCPF]="true">CPF</form-input>
            <form-input [form]="adminForm" controlName="email" type="email" autocomplete="email">E-mail</form-input>
            <form-input [form]="adminForm" controlName="tel">Celular</form-input>
            <form-input [form]="adminForm" controlName="password" type="password">Senha</form-input>
        </form-table>
        <form-table tableName="custom" [form]="customForm" [submitText]="custom.submitText"
            [submitEvent]="submit" (freezeForm)="onFreezeForm($event)">
            @if (!user) {
            <form-link link="/login">
                <strong>Já possui uma conta? Faça login!</strong>
            </form-link>
            }
            <form-input [form]="customForm" controlName="nome_comp">Nome Completo</form-input>
            <form-input [form]="customForm" controlName="cpf" [readCPF]="true">CPF</form-input>
            <form-input [form]="customForm" controlName="email" type="email" autocomplete="email">E-mail</form-input>
            <form-input [form]="customForm" controlName="tel">Celular</form-input>
            <form-input [form]="customForm" controlName="password" type="password">Senha</form-input>
            <form-input [form]="solicForm" controlName="roles" [options]="roles" [multiple]="true">Cargos Desejados</form-input>
            <ng-container *ngIf="alunoEnable">
                <form-input [form]="alunoGroup" controlName="bairro">Bairro</form-input>
                <form-input [form]="alunoGroup" controlName="endereco">Endereço</form-input>
                <form-input [form]="alunoGroup" controlName="data_nasc" type="date">Nascimento</form-input>
                <form-input [form]="alunoGroup" controlName="sexo" [options]="genders">Gênero</form-input>
                <horarios-list [form]="customForm" controlName="inscricoes"></horarios-list>
            </ng-container>
        </form-table>
    </app-form>
    <notifications-list>
        <ng-container #notifications></ng-container>
    </notifications-list>
</app-main>