<table #content>
    <thead>
        <tr class="center">
            <th colspan="3">Lista de Presença - {{title}} - {{time}} | {{day}} - {{dateLocale}}</th>
        </tr>
        <tr>
            <th>Nº</th>
            <th>Nome Completo</th>
            <th>Presença</th>
        </tr>
    </thead>
    <tbody>
        @for (aluno of alunos; track $index) {
        <tr>
            <td class="center">{{$index + 1}}</td>
            <td>{{aluno.nome_comp}}</td>
            <td class="center">
                <input type="checkbox" style="pointer-events:none" />
            </td>
        </tr>
        }
    </tbody>
</table>
<button class="print-students" (click)="printStudents()">Baixar Lista de Presença</button>