<li class="form-input" [formGroup]="form" [class.no-edit]="!edit">
    <label class="input-title">
        <ng-content></ng-content>
        {{inputText}}
    </label>
    <div class="input-content" [class.options-content]="options">
        @if (options) {
        @for (option of options; track $index) {
        <div class="radio-option">
            <input [type]="multiple ? 'checkbox' : 'radio'" [id]="option.id+'-'+index" [value]="option.id" #options
                hidden [formControlName]="controlName" [name]="controlName+'-'+index" />
            <label [htmlFor]="option.id+'-'+index" class="option" [class.multiple]="multiple"
                (click)="emitAction($event, $index)">
                <div class="option-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
                        <circle cx="256" cy="256" r="192" fill="none" stroke="currentColor" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="32" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="ionicon checked" viewBox="0 0 512 512">
                        <path
                            d="M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208 208-93.31 208-208S370.69 48 256 48zm108.25 138.29l-134.4 160a16 16 0 01-12 5.71h-.27a16 16 0 01-11.89-5.3l-57.6-64a16 16 0 1123.78-21.4l45.29 50.32 122.59-145.91a16 16 0 0124.5 20.58z" />
                    </svg>
                </div>
                <span>{{option.text}}</span>
            </label>
        </div>
        }
        } @else if (builderOptions) {
        <section class="col">
            <article class="row">
                <input class="horario-input" type="time" [(ngModel)]="horarioValue"
                    (ngModelChange)="horarioChange($event)" [ngModelOptions]="{standalone: !0}">
                <button #horarioSubscribe class="create-horario" [class.enable]="enableAddHorario">
                    <span>{{horarioSubText}}</span>
                    <ng-container *ngIf="horarioIcon == 'add'">
                        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
                            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="32" d="M256 112v288M400 256H112" />
                        </svg>
                    </ng-container>
                    <ng-container *ngIf="horarioIcon == 'checkmark'">
                        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
                            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="32" d="M416 128L192 384l-96-96" />
                        </svg>
                    </ng-container>
                </button>
            </article>
            @if (builderOptions.length) {
            <ol class="row-wrap">
                @for (option of builderOptions; track $index) {
                <div class="input-horario" [class.editing]="option.status">
                    <span>{{option.text}}</span>
                    <span class="divider"></span>
                    <button class="edit-horario" (click)="editHorario(option, $event)">
                        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon rotate" viewBox="0 0 512 512">
                            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="44"
                                d="M358.62 129.28L86.49 402.08 70 442l39.92-16.49 272.8-272.13-24.1-24.1zM413.07 74.84l-11.79 11.78 24.1 24.1 11.79-11.79a16.51 16.51 0 000-23.34l-.75-.75a16.51 16.51 0 00-23.35 0z" />
                        </svg>
                    </button>
                    <button class="edit-horario" (click)="deleteHorario(option, $event)">
                        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon freeze" viewBox="0 0 512 512">
                            <path
                                d="M289.94 256l95-95A24 24 0 00351 127l-95 95-95-95a24 24 0 00-34 34l95 95-95 95a24 24 0 1034 34l95-95 95 95a24 24 0 0034-34z" />
                        </svg>
                    </button>
                </div>
                }
            </ol>
            } @else {
            <span>Ainda não há horários!</span>
            }
        </section>
        } @else {
        @if (controlName == 'cpf' && readCPF) {
        <input class="input" [class.wrong]="wrongField" [formControlName]="controlName" [type]="type"
            [autocomplete]="autocomplete" [showMaskTyped]="true" mask="000.000.000-00" placeHolderCharacter="0" />
        } @else if (controlName == 'tel') {
        <input class="input" [class.wrong]="wrongField" [formControlName]="controlName" type="tel" id="tel" name="tel"
            required pattern="[0-9]{2} [0-9]{5}-[0-9]{4}" placeholder="11 99999-9999">
        } @else if (controlName == 'password') {
        <span class="password-content">
            <input class="input" [class.wrong]="wrongField" [formControlName]="controlName" [type]="toggleEye ? 'text' : 'password'"
                [autocomplete]="autocomplete" />
            <div class="password-eye" [class.not-see]="toggleEye" (click)="toggleEye = !toggleEye">
                <svg xmlns="http://www.w3.org/2000/svg" class="ionicon see" viewBox="0 0 512 512">
                    <circle cx="256" cy="256" r="64" />
                    <path
                        d="M490.84 238.6c-26.46-40.92-60.79-75.68-99.27-100.53C349 110.55 302 96 255.66 96c-42.52 0-84.33 12.15-124.27 36.11-40.73 24.43-77.63 60.12-109.68 106.07a31.92 31.92 0 00-.64 35.54c26.41 41.33 60.4 76.14 98.28 100.65C162 402 207.9 416 255.66 416c46.71 0 93.81-14.43 136.2-41.72 38.46-24.77 72.72-59.66 99.08-100.92a32.2 32.2 0 00-.1-34.76zM256 352a96 96 0 1196-96 96.11 96.11 0 01-96 96z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" class="ionicon not-see" viewBox="0 0 512 512">
                    <path
                        d="M432 448a15.92 15.92 0 01-11.31-4.69l-352-352a16 16 0 0122.62-22.62l352 352A16 16 0 01432 448zM248 315.85l-51.79-51.79a2 2 0 00-3.39 1.69 64.11 64.11 0 0053.49 53.49 2 2 0 001.69-3.39zM264 196.15L315.87 248a2 2 0 003.4-1.69 64.13 64.13 0 00-53.55-53.55 2 2 0 00-1.72 3.39z" />
                    <path
                        d="M491 273.36a32.2 32.2 0 00-.1-34.76c-26.46-40.92-60.79-75.68-99.27-100.53C349 110.55 302 96 255.68 96a226.54 226.54 0 00-71.82 11.79 4 4 0 00-1.56 6.63l47.24 47.24a4 4 0 003.82 1.05 96 96 0 01116 116 4 4 0 001.05 3.81l67.95 68a4 4 0 005.4.24 343.81 343.81 0 0067.24-77.4zM256 352a96 96 0 01-93.3-118.63 4 4 0 00-1.05-3.81l-66.84-66.87a4 4 0 00-5.41-.23c-24.39 20.81-47 46.13-67.67 75.72a31.92 31.92 0 00-.64 35.54c26.41 41.33 60.39 76.14 98.28 100.65C162.06 402 207.92 416 255.68 416a238.22 238.22 0 0072.64-11.55 4 4 0 001.61-6.64l-47.47-47.46a4 4 0 00-3.81-1.05A96 96 0 01256 352z" />
                </svg>
            </div>
        </span>
        } @else {
        <input class="input" [class.wrong]="wrongField" [formControlName]="controlName" [type]="type"
            [autocomplete]="autocomplete" />
        }
        }
    </div>
    @if (wrongField) {
    <small class="wrong-desc">{{wrongMsg}}</small>
    }
</li>