@use '../../../../../styles.scss' as global;
@use '../../../../styles';

.form-input {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .2rem;

    &:has(.wrong) {
        .input-title {
            color: red;
        }
    }

    &:not(:has(.wrong)) {
        .input-title {
            color: global.$green-color;
        }
    }

    .wrong-desc {
        color: red;
    }

    .input-title {
        font-weight: 600;
        user-select: none;
    }

    .input-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: .3em;
        overflow: hidden;
        transition: .1s ease-in-out color;

        &:not(.options-content) {
            width: 100%;
        }

        .input {
            font-size: 1em;
            background: #eee;
            padding: .4em;
            width: 100%;
        }

        .textarea {
            min-height: 2em;
            height: 4em;
            max-height: 10em;
            resize: vertical;
        }

        .radio-option {
            display: flex;
        }

        .option {
            @extend %option;
        }
    }
}