<app-cadastros-header></app-cadastros-header>
<app-main>
    <app-form titleForm="Cadastro do Aluno" [isFreeze]="isFreeze">
        <form-table
        [form]="form"
        [submitEvent]="submitFunction"
        [submitText]="submitText"
        (freezeForm)="onFreezeForm($event)">
            <form-link link="/login">
                <strong>Já possui uma conta? Faça login!</strong>
            </form-link>
            <form-input [form]="form" controlName="nome_comp">Nome Completo</form-input>
            <form-input [form]="form" controlName="cpf" [readCPF]="true">CPF</form-input>
            <form-input [form]="form" controlName="email" type="email" autocomplete="email">E-mail</form-input>
            <form-input [form]="form" controlName="password" type="password" autocomplete="new-password">Senha</form-input>
            <form-input [form]="form" controlName="tel">Celular</form-input>
            <form-input [form]="alunoGroup" controlName="bairro">Bairro</form-input>
            <form-input [form]="alunoGroup" controlName="endereco">Endereço</form-input>
            <form-input [form]="alunoGroup" controlName="data_nasc" type="date">Nascimento</form-input>
            <form-input [form]="alunoGroup" controlName="sexo" [options]="genders">Gênero</form-input>
            <horarios-list [form]="form"></horarios-list>
        </form-table>
    </app-form>
    <notifications-list>
        <ng-container #notifications></ng-container>
    </notifications-list>
</app-main>