<app-cadastros-header></app-cadastros-header>
<app-main>
    <app-form-cadastro titleForm="Cadastro do Aluno" [form]="form">
        <form-table>
            <form-input [form]="form" controlName="nome_comp">Nome Completo</form-input>
            <form-input [form]="form" controlName="cpf">CPF</form-input>
            <form-input [form]="solicGroup" controlName="desc">Descrição/Comentário</form-input>
            <form-input [form]="alunoGroup" controlName="email">E-mail</form-input>
            <form-input [form]="alunoGroup" controlName="tel">Celular</form-input>
            <form-input [form]="alunoGroup" controlName="bairro">Bairro</form-input>
            <form-input [form]="alunoGroup" controlName="endereco">Endereço</form-input>
            <form-input [form]="alunoGroup" controlName="data_nasc" type="date">Nascimento</form-input>
            <form-input [form]="alunoGroup" controlName="sexo" [options]="genders">Gênero</form-input>
            <!-- <form-input [form]="form" controlName="">Aluno3!</form-input>
            <form-input [form]="form" controlName="">Aluno4!</form-input> -->
        </form-table>
    </app-form-cadastro>
</app-main>