<app-header>
    <app-back-button link="/">Voltar</app-back-button>
</app-header>
<app-main>
    <app-form titleForm="Faça seu login" [loginForm]="true">
        @if (hasError) {
        <span class="erro-msg">{{errorMsg}}</span>
        }
        <form-table [form]="form" [submitEvent]="submitFunction" submitText="Login">
            <div class="col">
                <form-input [form]="form" controlName="cpf">CPF</form-input>
                <form-input [form]="form" controlName="password" type="password" autocomplete="new-password">Senha</form-input>
            </div>
            <form-link link="/cadastro">
                <strong>Não possui uma conta? Cadastre-se já!</strong>
            </form-link>
        </form-table>
    </app-form>
</app-main>