@use '../../../styles.scss' as global;

.solic {
    border-radius: .5em;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 1.2em;
    box-shadow: 0 .2rem .5em #0163;

    >* {
        padding: .25em min(2vw, 2em);
    }

    .solic-header {
        background: white;
        display: grid;
        align-items: center;
        padding-right: min(2vw, .5em);
        border-radius: .5em;
        cursor: pointer;

        .tools {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: min(2vw, 1em);

            .buttons {
                display: flex;
                flex-direction: row;
                gap: .35em;

                .button {
                    position: relative;
                    background: global.$main-color;
                    border-radius: .2em;
                    cursor: pointer;
                    display: flex;
                    font-size: 1.5em;
                    color: #eee;
                    overflow: hidden;
                    transition: .2s ease-in-out background-color;

                    &:hover {
                        &.accept {
                            background-color: #080;
                        }

                        &.cancel {
                            background: #c00;
                        }
                    }

                    * {
                        z-index: 10;
                    }
                }
            }

            .show-more {
                background: transparent;
                pointer-events: none;
                display: flex;
                align-items: center;
                height: 1.5em;
                width: 1.5em;
                justify-content: center;
                font-size: 1.25em;
                transition: .15s ease-in-out;
                color: global.$main-color;
            }
        }
    }

    .solic-main {
        grid-template-columns: repeat(auto-fit, minmax(min(14rem, 100vw), 1fr));
        gap: 1em;
        padding-block: .5em;

        solic-content {
            display: flex;
            flex-direction: column;
        }
    }

    &:not(.showing) {
        .solic-main {
            display: none;
        }
    }

    &.showing {
        .show-more {
            rotate: 90deg;
        }

        .solic-main {
            display: grid;
        }

        .solic-header .cpf {
            display: none;
        }
    }
}

.hidden {
    display: none !important;
}

@media screen and (min-width: 36rem) {
    .solic {
        &:not(.showing) {
            .solic-header {
                grid-template-columns: repeat(2, 1fr) auto;
            }
        }

        &.showing {
            .solic-header {
                grid-template-columns: 1fr auto;
            }
        }
    }
}

@media screen and (max-width: calc(36rem - 1px)) {
    .solic-header {
        grid-template-columns: 1fr auto;

        .cpf {
            display: none;
        }
    }
}