@use '../../../styles.scss' as global;

.cadastro-icon {
    font-size: 2.5em;
    color: #777;
    padding: .75em;
    flex-shrink: 0;
}

.cadastro-content {
    flex-grow: 1;
    text-align: start;

    .cadastro-title {
        color: global.$green-color;
    }

    .desc {
        color: #444;
    }
}

app-main-button {
    display: flex;
    justify-content: center;
}

cadastro-logo, cadastro-sidebar {
    height: 100%;
}

cadastro-logo {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
}

cadastro-sidebar {
    flex-grow: .1;
}

@media screen and (max-width: 72rem) {
    cadastro-logo {
        display: none;
    }

    cadastro-sidebar {
        width: 100%;
    }
}