<aside class="sidebar" [class.hide]="hiddenSidebar">
    <main class="main-sidebar">
        <section>
            <header-button [click]="toggle">
                <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="48" d="M244 400L100 256l144-144M120 256h292" />
                </svg>
                <span>Voltar</span>
            </header-button>
        </section>
        <div class="divider"></div>
        <section class="full-content">
            <ng-content></ng-content>
        </section>
        <div class="divider"></div>
        <section>
            <creator-content></creator-content>
        </section>
    </main>
    <div class="shadow" (click)="toggle()"></div>
</aside>