<h1 class="title">{{titleMsg || 'Solicitações de Usuários'}}</h1>
<div class="solics-desc">
    <section class="row">
        <button class="button refresh" (click)="refresh()">
            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
                <path d="M320 146s24.36-12-64-12a160 160 0 10160 160" fill="none" stroke="currentColor"
                    stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" />
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"
                    d="M256 58l80 80-80 80" />
            </svg>
        </button>
        <button class="button all" [class.no-click]="accepting" [class.hidden]="onlyRead" (click)="acceptAll(!0)">
            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="32" d="M416 128L192 384l-96-96" />
            </svg>
            <small>Aceitar todos</small>
        </button>
        <button class="button all" [class.no-click]="accepting" [class.hidden]="onlyRead" (click)="acceptAll(!1)">
            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
                <path
                    d="M289.94 256l95-95A24 24 0 00351 127l-95 95-95-95a24 24 0 00-34 34l95 95-95 95a24 24 0 1034 34l95-95 95 95a24 24 0 0034-34z" />
            </svg>
            <small>Negar todos</small>
        </button>
    </section>
    <section class="row">
        <span class="content">{{(pageIndex * pagesSize + 1).toLocaleString()}}-{{(pageIndex * pagesSize + min(size - pageIndex * pagesSize, pagesSize)).toLocaleString()}} de
            {{size.toLocaleString()}}</span>
        <button class="button" [class.no-click]="!pageIndex" (click)="switchFirst()">
            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
                <path
                    d="M30.71 229.47l188.87-113a30.54 30.54 0 0131.09-.39 33.74 33.74 0 0116.76 29.47v79.05l180.72-108.16a30.54 30.54 0 0131.09-.39A33.74 33.74 0 01496 145.52v221A33.73 33.73 0 01479.24 396a30.54 30.54 0 01-31.09-.39L267.43 287.4v79.08A33.73 33.73 0 01250.67 396a30.54 30.54 0 01-31.09-.39l-188.87-113a31.27 31.27 0 010-53z" />
            </svg>
        </button>
        <button class="button" [class.no-click]="!pageIndex" (click)="switchPage(-1)">
            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48"
                    d="M328 112L184 256l144 144" />
            </svg>
        </button>
        <button class="button" [class.no-click]="!(pageIndex < (pagesNumber - 1))" (click)="switchPage(1)">
            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48"
                    d="M184 112l144 144-144 144" />
            </svg>
        </button>
        <button class="button" [class.no-click]="!(pageIndex < (pagesNumber - 1))" (click)="switchLast()">
            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
                <path
                    d="M481.29 229.47l-188.87-113a30.54 30.54 0 00-31.09-.39 33.74 33.74 0 00-16.76 29.47v79.05L63.85 116.44a30.54 30.54 0 00-31.09-.39A33.74 33.74 0 0016 145.52v221A33.74 33.74 0 0032.76 396a30.54 30.54 0 0031.09-.39L244.57 287.4v79.08A33.74 33.74 0 00261.33 396a30.54 30.54 0 0031.09-.39l188.87-113a31.27 31.27 0 000-53z" />
            </svg>
        </button>
    </section>
</div>
<section class="list-solics" [class.no-click]="accepting">
    <ul class="solics" #solicsList>
        @for (solicUser of solics; track $index) {
            <solic-button [onlyRead]="onlyRead" [refresh]="refresh" [adminUser]="admin" [solicUser]="solicUser" />
        }
    </ul>
</section>