<h1 class="title">Solicitações de Usuários</h1>
<div class="solics-desc">
    @if (pageIndex) {
    <button class="switch" (click)="switchFirst()">
        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
            <path
                d="M480 145.52v221c0 13.28-13 21.72-23.63 15.35L267.5 268.8c-9.24-5.53-9.24-20.07 0-25.6l188.87-113C467 123.8 480 132.24 480 145.52zM251.43 145.52v221c0 13.28-13 21.72-23.63 15.35L38.93 268.8c-9.24-5.53-9.24-20.07 0-25.6l188.87-113c10.64-6.4 23.63 2.04 23.63 15.32z"
                fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32" />
        </svg>
    </button>
    <button class="switch" (click)="switchPage(-1)">
        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48"
                d="M328 112L184 256l144 144" />
        </svg>
    </button>
    }
    <span class="content">{{pageIndex * pagesSize + 1}}-{{pageIndex * pagesSize + min(solics.length, pagesSize)}} de
        {{solics.length}}</span>
    @if (pageIndex < (pagesNumber - 1)) { <button class="switch" (click)="switchPage(1)">
        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48"
                d="M184 112l144 144-144 144" />
        </svg>
        </button>
        <button class="switch" (click)="switchLast()">
            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
                <path
                    d="M32 145.52v221c0 13.28 13 21.72 23.63 15.35l188.87-113c9.24-5.53 9.24-20.07 0-25.6l-188.87-113C45 123.8 32 132.24 32 145.52zM260.57 145.52v221c0 13.28 13 21.72 23.63 15.35l188.87-113c9.24-5.53 9.24-20.07 0-25.6l-188.87-113c-10.64-6.47-23.63 1.97-23.63 15.25z"
                    fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32" />
            </svg>
        </button>
        }
</div>
<section class="list-solics">
    <ul class="solics" #solicsList>
        @for (solicUser of pageSolics; track $index) {
        <solic-button [refresh]="refresh" [adminUser]="admin" [solicUser]="solicUser" />
        }
    </ul>
</section>