@use '../../../styles.scss' as global;

.title {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.list-solics {
    overflow: hidden;
    width: 100%;
    max-width: 64rem;
    margin-inline: auto;

    .solics {
        display: flex;
        flex-direction: column;
        gap: 1em;
        flex-grow: 1;
        max-height: 36em;
        width: 100%;
        overflow-y: auto;

        &::-webkit-scrollbar {
            background: white;
            width: .65em;
        }

        &::-webkit-scrollbar-thumb {
            background: global.$main-color;
        }
    }
}

.solics-desc {
    margin: 1em auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 64rem;

    .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .5em;
    }

    .button {
        display: flex;
        flex-direction: row;
        gap: .3em;
        cursor: pointer;
        padding: .5em;
        font-size: 1.2em;
        border-radius: .2em;
        box-shadow: 0 .2rem .5em #0163;
        background: global.$main-color;
        color: #eee;

        &.refresh {
            background: global.$main-color;
            color: #eee;
        }
    }

    .content {
        padding: .2em .5em;
        border-radius: .2em;
        user-select: none;
        font-weight: 600;
    }
}

.no-click {
    opacity: .5;
    pointer-events: none !important;
}

.hidden {
    display: none !important;
}

@media screen and (min-width: 32rem) {
    .list-solics {
        background: #e9e9e9;
        border-radius: 1em;

        .solics {
            padding: .75em;
        }
    }
}

@media screen and (max-width: calc(45rem - 1px)) {
    .all {
        display: none !important;
    }
}

@media screen and (max-width: calc(32rem - 1px)) {
    .solics {
        padding-right: .5em;
    }

    .solics-desc {
        padding-inline: min(2em, 3vw);
    }
}