@use '../../../../styles.scss' as global;

.form-input {
    display: flex;
    flex-direction: column;

    .input-title {
        font-weight: 600;
        color: global.$green-color;
    }

    .input {
        background: #eee;
        width: 100%;
    }
}