.main-container {
    flex-grow: 1;

    &.cadastro {
        display: flex;
        flex-direction: row-reverse;
    }

    &:not(.cadastro, .column) {
        --inline-padding: 1rem;
        display: grid;
        max-width: 64rem;
        margin-inline: auto;
        gap: .45rem 1rem;
    }

    &.column {
        position: relative;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
}

@media screen and (min-width: 32rem) {
    .main-container {
        &:not(.cadastro, .column) {
            padding: 1rem var(--inline-padding);
            grid-template-columns: repeat(auto-fit, minmax(min(24rem, calc(100vw - (var(--inline-padding) * 2))), 1fr));
        }
    }
}

@media screen and (max-width: calc(32rem - 1px)) {
    .main-container {
        &:not(.cadastro, .column) {
            padding: 0;
            grid-template-columns: repeat(auto-fit, minmax(min(24rem, 100vw), 1fr));
        }
    }
}