* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

$green-color: #055;

body, app-root, app-cadastro {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}