@use '../../../styles.scss' as global;

app-header {
    position: absolute;
    z-index: 100;
    width: 100%;
}

admin-dashboard, professor-dashboard, aluno-dashboard {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding: .5em;
    width: 100%;
    height: 100%;
    color: global.$green-color;
    background: #f5f5f5;
}

.no-roles, .loader {
    color: global.$green-color;
    text-align: center;
    flex-grow: 1;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;

    strong {
        width: max(10em, 75%);
    }
}

.loader {
    font-size: 2em;
    letter-spacing: .1em;
}

dashboard-sidebar {
    pointer-events: none;
    position: absolute;
    height: 100%;
    z-index: 100;

    .sidebar-content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        header-button {
            width: 100%;
        }
    }
}

creator-content {
    position: absolute;
    bottom: 1em;
    right: 1em;
}

dashboards-list {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: calc(64rem - 1px)) {
    admin-dashboard, professor-dashboard, aluno-dashboard {
        padding-inline: 2em;
    }
}

@media screen and (max-width: 64rem) {
    admin-dashboard, professor-dashboard, aluno-dashboard {
        padding-inline: 1em;
    }
}