<section class="content">
    <ng-content select="form-link"></ng-content>
    @if (hasFormInput() || autoGenerateForms) {
    <ul class="grid">
        <ng-content select="form-input"></ng-content>
        <ng-container #inputs></ng-container>
    </ul>
    }
    <ng-content select="horarios-list"></ng-content>
    <ng-content></ng-content>
</section>
<div class="submit-row">
    <form-submit [form]="form" [submitEvent]="submitEvent" [freezeFormFunc]="freezeFormFunc" [removePassword]="oldValue" #formSubmit>{{submitText}}</form-submit>
@if (deleteEvent) {<form-submit [deleteForm]="!0" [form]="form" [closeFormFunc]="closeFormFunc" #formSubmitDelete>{{deleteText}}</form-submit>}
</div>