<section class="content">
    <ng-content select="form-link"></ng-content>
    @if (hasFormInput() || autoGenerateForms) {
    <ul class="grid">
        <ng-content select="form-input"></ng-content>
        <ng-container #inputs></ng-container>
    </ul>
    }
    <ng-content select="horarios-list"></ng-content>
    <ng-content></ng-content>
</section>
<form-submit [form]="form" [submitEvent]="submitEvent" [freezeFormFunc]="freezeFormFunc" [removePassword]="oldValue">{{submitText}}</form-submit>