@use '../../../styles.scss' as global;

.form-cadastro {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 100%;
    padding: 1em;

    &.login {
        max-width: 36rem;
    }

    .form-title {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: global.$green-color;
        user-select: none;

        &::before {
            content: '';
            height: 1px;
            background: #9998;
            top: 50%;
            width: 100%;
            translate: 0 -50%;
            position: absolute;
        }

        span {
            position: relative;
            z-index: 10;
            padding: 0 3vw;
            background: white;
        }
    }

    >*:not(.form-title) {
        transition: .2s ease-out opacity;
    }

    &.freeze>*:not(.form-title) {
        opacity: .5;
        pointer-events: none !important;
    }

    .list-titles {
        display: flex;
        flex-direction: row;
        height: global.$header-height;
        background: global.$green-color;
        overflow: hidden;
        $radius: .75rem;
        border-radius: calc($radius * 1.5);

        .title {
            position: relative;
            cursor: pointer;
            user-select: none;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            flex-grow: 1;
            font-size: 1.2em;
            padding-inline: 1em;
            letter-spacing: .04em;

            &:not(.active) {
                color: #eee8;
            }

            &.active {
                pointer-events: none;
                background: white;
                color: global.$green-color;
                border-top-left-radius: $radius;
                border-top-right-radius: $radius;

                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    height: $radius;
                    width: $radius;
                    bottom: 0;
                }

                &::before {
                    left: 0;
                    translate: -100%;
                    border-bottom-right-radius: $radius;
                    box-shadow: calc($radius / 3) calc($radius / 3) 0 1px #fff;
                }

                &::after {
                    right: 0;
                    translate: 100%;
                    border-bottom-left-radius: $radius;
                    box-shadow: calc($radius / -3) calc($radius / 3) 0 1px #fff;
                }
            }
        }
    }

    .form-inputs {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width: 100%;
    }
}

@media screen and (min-width: 32rem) {
    .form-cadastro {
        border-radius: .5em;
        box-shadow: 0 .5rem 1em #0163;
    }
}

@media screen and (max-width: calc(32rem - 1px)) {
    .form-cadastro {
        height: 100%;

        .list-titles .title {
            font-size: .95em;
        }
    }
}