<form class="form-cadastro" [class.freeze]="isFreeze" [class.login]="loginForm">
    @if (titleForm) {
    <h1 class="form-title">
        <span>{{titleForm}}</span>
    </h1>
    }
    @if (titlesSwitch) {
    <section class="list-titles">
        @for (title of titlesSwitch; track $index) {
        <div class="title" (click)="selectTitle(title)" #title [id]="title.id">{{title.title}}</div>
        }
    </section>
    }
    <ul class="form-inputs">
        @if (filterType == 'admin') {
            <ng-content select="[tableName='admin']"></ng-content>
        } @else if (filterType == 'professor') {
            <ng-content select="[tableName='professor']"></ng-content>
        } @else {
            <ng-content></ng-content>
        }
    </ul>
</form>